[Desktop Entry]
Type=Application
Name=BG ON AIR
Comment=Watch BG ON AIR
Icon=/usr/share/tv/icons/bgonair.png
Exec=sh -c "tv bgonair"
Terminal=false
Categories=TV;
Keywords=tv;bgonair;
