[Desktop Entry]
Type=Application
Name=BNT1
Comment=Watch BNT1
Icon=/usr/share/tv/icons/bnt1.png
Exec=sh -c "tv bnt"
Terminal=false
Categories=TV;
Keywords=tv;bnt1;
