[Desktop Entry]
Type=Application
Name=BNT2
Comment=Watch BNT2
Icon=/usr/share/tv/icons/bnt2.png
Exec=sh -c "tv bnt2"
Terminal=false
Categories=TV;
Keywords=tv;bnt2;
