[Desktop Entry]
Type=Application
Name=BNT3
Comment=Watch BNT3
Icon=/usr/share/tv/icons/bnt3.png
Exec=sh -c "tv bnt3"
Terminal=false
Categories=TV;
Keywords=tv;bnt3;
