[Desktop Entry]
Type=Application
Name=BNT4
Comment=Watch BNT4
Icon=/usr/share/tv/icons/bnt4.png
Exec=sh -c "tv bnt4"
Terminal=false
Categories=TV;
Keywords=tv;bnt4;
