[Desktop Entry]
Type=Application
Name=Euro 2024 Livestream (BNT, Second stream)
Comment=Watch Euro 2024 Second Livestream on BNT
Icon=/usr/share/tv/icons/euro2024.png
Exec=sh -c "tv bnteuro2"
Terminal=false
Categories=TV;
Keywords=tv;euro2024;
