[Desktop Entry]
Type=Application
Name=btv
Comment=Watch btv
Icon=/usr/share/icons/hicolor/128x128/btv.png
Exec=sh -c "tv btv"
Terminal=false
Categories=TV;
Keywords=tv;btv;
