[Desktop Entry]
Type=Application
Name=Euro 2024 Livestream (GONG BG, Second stream)
Comment=Watch Euro 2024 Second Livestream on GONG BG
Icon=/usr/share/tv/icons/euro2024.png
Exec=sh -c "tv gongeuro2"
Terminal=false
Categories=TV;
Keywords=tv;euro2024;
