[Desktop Entry]
Type=Application
Name=Nova News
Comment=Watch Nova News
Icon=/usr/share/tv/icons/NOVANEWS.png
Exec=sh -c "tv novanews"
Terminal=false
Categories=TV;
Keywords=tv;novanews;
