[Desktop Entry]
Type=Application
Name=Nova TV
Comment=Watch Nova TV
Icon=/usr/share/icons/hicolor/128x128/NOVA.png
Exec=sh -c "tv nova"
Terminal=false
Categories=TV;
Keywords=tv;nova;
