[Desktop Entry]
Type=Application
Name=Nova TV
Comment=Watch Nova TV
Icon=/usr/share/tv/icons/NOVA.png
Exec=sh -c "tv nova"
Terminal=false
Categories=TV;
Keywords=tv;nova;
