[Desktop Entry]
Type=Application
Name=Narodno Sabranie
Comment=Watch plenary session of Narodno Sabranie
Icon=/usr/share/tv/icons/parliamentbg.png
Exec=sh -c "tv parliament"
Terminal=false
Categories=TV;
Keywords=tv;parliament;
